#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.accordion {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  /* background-color: #f9f9f9; */
}

.accordion-container {
  border: 1px solid navajowhite;
  border-radius: 5px;
  margin-bottom: 10px;
  /* background-color: #fff; */
}

.accordion-title {
  /* width: 100%; */
  padding: 15px;
  text-align: left;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  /* background-color: #f1f1f1; */
}

.accordion-title:hover {
  background-color: grey;
}

.accordion-content {
  padding: 15px;
  border-top: 1px solid #ddd;
  font-size: 14px;
  border: 1px solid navajowhite;
}

.accordion p {
  font-size: 16px;
  color: #666;
  text-align: center;
}